<h1>Create an account</h1>
<br>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %>
  <br>
  Last Name: <%= f.text_field :last_name %>
  <br>
  Your Email: <%= f.text_field :email %>
  <br>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <br>
  <br>
  <br>
  <%= f.submit "Submit" %>

<% end %>