<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img'%>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
    </div>

    <div class="col-sm-8">
    <div>
    <% if !@average.blank? %>
    <div style="text-align: center;">
    <h5>Average User Rating: <%= @average %></h5>
    </div>
    <% end %>
    </div>
    <% if current_user.present? %>
    <div class="col-sm-4" style="width: 75%; text-align: center; background-color: #e8e8ee;">
    <h5>Leave a review and rating:</h5>
    <%= form_for [@product, @review] do |f| %>
      <%= f.text_area :description %>
      <%= f.select :rating, [1, 2, 3, 4, 5] %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
    <% end %>
    <%= render 'review' %>
    </div>
    </div>
    </div>

  </article>

</section>
